.button {
  margin: 4px 5px 4px 20px;
  height: 44px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(240, 240, 155);
}
